@charset "utf-8";
@import "../_breakpoint.scss";
@import "../_mixin.scss";

.edit-list {
  margin: 0 auto;

  @include mq(lg) {
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include mq(sm) {
    font-size: 1.2rem;
  }


  .edit-list-form {
    color: #555555;

    .edit-list-title {
      width: 300px;
      margin-bottom: 25px;
    }

    .delete-list-button {
      color: #ff3333;
      border: solid 1px #ff3333;
      width: 80px;
      height: 40px;
      margin: 25px 5px;
      border-radius: 5px;
    }

    .edit-list-button {
      background-color: #242f9b;
      color: #ffffff;
      width: 80px;
      height: 40px;
      border-radius: 5px;
    }

    .error-message {
      color: #ff3333;
    }

  }
}
