@charset "utf-8";
@import "../_breakpoint.scss";
@import "../_mixin.scss";

.new-list {
  width: 1000px;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  h2 {
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  .new-list-form {
    color: #555555;

    @include mq(lg) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    @include mq(sm) {
      font-size: 1.2rem;
    }

    .new-list-title {
      width: 300px;
      margin-bottom: 25px;
    }

    .new-list-button {
      background-color: #242f9b;
      color: #ffffff;
      width: 80px;
      height: 40px;
      border-radius: 5px;
    }
  }
}
