@charset "utf-8";
@import "../_breakpoint.scss";
@import "../_mixin.scss";

.header {
  width: 100%;
  height: 80px;
  background-color: #242f9b;
  color: #ffffff;
  display: flex;
  justify-content: space-between;

  .sign-out-button {
    color: #ffffff;
    margin: auto 25px auto auto;

    @include mq(sm) {
      margin: 0 auto;
    }
  }

  @include mq(sm) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

  }
}
